body{
	font-family: 'Montserrat';
	color:#000;
	a {
		text-decoration: none;
		color: #fff;
		&:hover {
			color: #fff;
		}
	}
	h1, h2 {
		font-family: "Playfair Display";
	}
	h2{
		color: #01376A;
		font-size: 2.25rem;
	}
	.main-wrapper {
		max-width: 1920px;
		margin: 0 auto;
	}
}