.header {
    background-color: #01376A;
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 400;
    @media only screen and (min-width: 1440px) { 
        font-size: 18px; 
    }
    .logo {
        img {
            max-width: 95px;
            width: 100%;
        }
    }
         .select {
             position: relative;
             z-index: 100;
             a {
                color: #fff;
                text-decoration: none;
                &:hover {
                    color: #01376A;
                }
            }
             .select__header {
                 display: flex;
                 cursor: pointer;
                 align-items: center;
                 .select__current {
                     line-height: 24px;
                     padding-right: 8px;
                 }
                 .select__icon {
                     width: 9px;
                     height: 9px;
                     margin-top: -4px;
                     border-top: 2px solid #FEC444;
                     border-right: 2px solid #FEC444;
                    transform: rotate(135deg);
                 }
             }
             .select__body {
                 position: absolute;
                 left: 0;
                 right: 0;
                 top: 100%;
                 background-color: #01376A;
                 display: none;
                 .select__item {
                     line-height: 24px;
                     padding: 8px;
                     font-size: 14px;
                     cursor: pointer;
                     color: #fff;
                     &:hover {
                         background-color: #fff;
                         color: #01376A;
                     }
                 }
             }
         }
         .select.is-active .select__body{
             display: block;
         }
    .navbar{
        .navbar-toggler{
            &:focus {
                box-shadow: none;
            }
            .burger-menu {
                width: 30px;
                height: 4px;
                margin-bottom: 4px;
                display: block;
                background-color: #fff;
                &:last-child { margin-bottom: 0; }
            }
        }
        .my-collapse{
            position: absolute;
            background-color: #01376A;
            top: 100%;
            right: 0;
            padding: 0 10px;
            @media only screen and (min-width: 992px) { 
                position: static;
            }
            .navbar-nav{
                align-items: center;
                li{
                    @media only screen and (min-width: 992px) { 
                        &:not(:first-child) {
                            margin-left: 20px;
                        } 
                    }
                    a{
                        color: #fff;
                        &:hover{
                            color: #fff;
                            
                        }
                    }
                }
            }
        }
    }
    
}