.header-box {
    background: url(../img/background-top.png) no-repeat center center;
    background-size: cover;
    position: relative;
    height: 1122px;
    .header-box-content {
        width: 715px;
        background-color: #01376a;
        padding-left: 10%;
        padding-top: 70px;
        padding-bottom: 80px;
        margin-top: 10%;
        margin-bottom: 80px;
        h1 {
            font-size: 3.125rem;
            color: #fec444;
            border-left: solid 2px #fff;
            padding-left: 15%;
            width: 800px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        p {
            color: #fec444;
            padding-left: 15%;
            margin-top: 40px;
        }
    }
    .custom-btn {
        margin-left: 15%;
    }
    .header-box-img {
        position: absolute;
        right: 0;
        bottom: 0;
        img {
            max-width: 1263px;
            width: 100%;
        }
    }
}
