$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1640px,
);
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1560px,
);
@import "~bootstrap/scss/bootstrap";
@import '_typo.scss';
@import 'main.scss';
@import 'header.scss';
@import 'btn.scss'